{% extends 'layouts/layout.html.twig' %}

{% block title %}Dashboard | Superadmin!{% endblock %}

{% block content %}
  <!-- start: basic forms -->
        <div class="card mb-3">
          <div class="card-header position-relative d-flex" style="min-height:90px;">
            <div class="d-flex align-items-center w-100">
              <div class="me-auto">
                <h5 class="my-2 text-white position-relative z-index-1">Subscription</h5>
              </div>

            </div>
            <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(/assets/img/generic/4.jpg);"></div>
          </div>
          <div class="card-body bg-light">
            {{ form_start(form) }}
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Subscription Plan Name</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.planTitle)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.planTitle, {'attr': {'class': 'form-control mb-3'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.planTitle) }}
                 </div>
                </div>
                
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Validity</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4">                  
                  <div class="row">
                    <div class="col {% if form_errors(form.time)|length > 0 %} div-form-error{% endif %}">
                      {{ form_widget(form.time, {'attr': {'class': 'form-control mb-3'}}) }}                      
                    </div>
                    <div class="col-auto">
                      <div class="mb-3" style="min-width:130px;">
                       {{ form_widget(form.monthDay, {'attr': {'class': 'form-select form-select-sm'}}) }}
                      </div>
                    </div>
                    <div class="form-error">
                          {{ form_errors(form.time) }}
                      </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Storage Space</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.storageSize)|length > 0 %} div-form-error{% endif %}">
                  <div class="input-group mb-3">
                  {{ form_widget(form.storageSize, {'attr': {'class': 'form-control','min':'1','aria-describedby':'basic-addon2'}}) }}
                  <span class="input-group-text" id="basic-addon2">GB</span>
                  </div>
                  <div class="form-error">
                    {{ form_errors(form.storageSize) }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">No Of Clients</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.noOfClients)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.noOfClients, {'attr': {'class': 'form-control mb-3','min':'1'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.noOfClients) }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">No Of Employees</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.noOfEmployee)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.noOfEmployee, {'attr': {'class': 'form-control mb-3','min':'1'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.noOfEmployee) }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">No Of Client Login</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.noOfClientsLogin)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.noOfClientsLogin, {'attr': {'class': 'form-control mb-3','min':'1'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.noOfClientsLogin) }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">No Of Transactions</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.noOfTransaction)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.noOfTransaction, {'attr': {'class': 'form-control mb-3','min':'1'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.noOfTransaction) }}
                 </div>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Features</label>
                </div>
                <div class="col">
                  <div class="py-2 mb-2">
                    <div class="row">
                      <div class="col-12">
                        <div class="form-check form-switch mb-0">                          
                          {{ form_widget(form.taskManager, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_1">Task Manager</label>
                        </div>
                        <div class="form-check form-switch mb-0">
                          {{ form_widget(form.fileManager, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_2">File Manager</label>
                        </div>
                        <div class="form-check form-switch mb-0">
                          {{ form_widget(form.eCommerce, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_4">E-Commerce</label>
                        </div>
                        <div class="form-check form-switch mb-0">
                          {{ form_widget(form.templateCustomization, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_5">Tamplate - Customization for import</label>
                        </div>
                        <div class="form-check form-switch mb-0">
                          {{ form_widget(form.liveReportClientMobileApp, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_6">Live reports on client mobile app</label>
                        </div>
                        <div class="form-check form-switch mb-0">
                          {{ form_widget(form.clientLoginApp, {'attr': {'class': 'form-check-input'}}) }}
                          <label class="form-check-label" for="fe_chk_6">Client Login Mobile App</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Price</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4 {% if form_errors(form.price)|length > 0 %} div-form-error{% endif %}">
                  {{ form_widget(form.price, {'attr': {'class': 'form-control mb-3','min':'1'}}) }}
                  <div class="form-error">
                    {{ form_errors(form.price) }}
                 </div>
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Status</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  {{ form_widget(form.status, {'attr': {'class': 'form-select form-select-sm mb-3'}}) }}
                </div>
              </div>
              <div class="row">
                <div class="col-auto">
                  <label class="form-label" style="min-width:180px;" for="">Display on Portal</label>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                  <div class="form-check form-switch">
                    {{ form_widget(form.displayOnPortal, {'attr': {'class': 'form-check-input'}}) }}
                    <label class="form-check-label" for="dp_radio_7">Yes</label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 my-2 text-end">
                  <button type="submit" class="btn btn-primary">Add Plan</button>
                </div>
              </div>
            {{ form_end(form) }}

          </div>
        </div>
{% endblock %}
