{% extends 'layouts/layout.html.twig' %}

{% block title %}Dashboard | Superadmin!{% endblock %}

{% block content %}
  <!-- start: basic forms -->
        <div class="card mb-3">
          <!-- <div class="card-header position-relative d-flex" style="min-height:90px;">
            <div class="d-flex align-items-center w-100">
              <div class="me-auto">
                <h5 class="my-2 text-white position-relative z-index-1">Clients</h5>
              </div>
              <div class="ms-auto z-index-1">
                <button onclick="window.location.href='add-CA.html'" class="btn btn-outline-white " type="button">Add New</button>
              </div>

            </div>
            <div class="bg-holder rounded-3 rounded-bottom-0" style="background-image:url(assets/img/generic/4.jpg);"></div>
          </div> -->
          <div class="card-body">

            <div class="position-relative">
              <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active ps-0" data-bs-toggle="tab" href="#tab_1" role="tab">Subscription</a>
                </li>
                <li class="nav-item">
                  <a type="button" class="nav-link px-2 px-md-3" data-bs-toggle="tab" href="#tab_2" role="tab">AddOns</a>
                </li>
              </ul>
            </div>

            <div class="tab-content" id="myTabContent">
              {% for message in app.flashes('success') %}                
                <div class="alert alert-success border-2 d-flex align-items-center" role="alert">
                  <div class="bg-success me-3 icon-item"><span class="fas fa-check-circle text-white fs-3"></span></div>
                  <p class="mb-0 flex-1">{{ message }}</p><button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
              
              <div class="tab-pane fade show active" id="tab_1" role="tabpanel">
                <div class="d-flex w-100 mb-3">
                  <div class="ms-auto">
                    <a href="{{path('create_subscriptions')}}"><button type="button" class="btn btn-primary">Create New Subscription</button></a>

                  </div>
                </div>
                {% if subscriptions|length > 0 %}
                    {% for subscription in subscriptions %}
                    
                    <div class="card card-body mt-2 shadow-none bg-100 border mb-3">
                        <div class="d-flex w-100">
                            <div class="me-auto">
                            <div class="d-flex">
                                <div class="flex-shrink-0">
                                <span class="cli_no bg-primary text-white fw-bold">{{ subscription.id }}</span>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                <h5 class="mb-0">{{ subscription.planTitle }}</h5>
                                </div>
                            </div>
                            </div>
                            <div class="ms-auto">
                            <div class="d-flex align-items-center">
                                <div class="form-check form-switch mb-0">
                                <input class="form-check-input" id="fe_chk_1" type="checkbox" {% if subscription.status == 1 %}checked {% endif %}/>
                                <label class="form-check-label mb-0" for="fe_chk_1">Active</label>
                                </div>
                                <span class="mx-2 text-400">|</span>
                                <a href="/subscriptions/edit/{{ subscription.id }}"><i class="fas fa-pencil-alt"></i> Edit</a>&nbsp;&nbsp;
                                <a href="/subscriptions/delete/{{ subscription.id }}"><i class="fas fa-trash"></i> Delete</a>
                                <a class="fs--1 ms-1" href="#">(History)</a>
                            </div>

                            </div>
                        </div>
                        <div class="ms-4 mt-3">
                            <div class="row row-cols-1 row-cols-sm-4 row-col-md-4">
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="far fa-clock fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">{{ subscription.monthDay }}</p>
                                    <p class="fw-semi-bold">{{ subscription.time }}</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-money-bill-alt fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fw-semi-bold">{{ subscription.price }}/-</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="far fa-list-alt fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Transactions</p>
                                    <p class="fw-semi-bold">{{ subscription.noOfTransaction }}</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-user-friends fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Employees</p>
                                    <p class="fw-semi-bold">{{ subscription.noOfEmployee }}</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-user fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Clients</p>
                                    <p class="fw-semi-bold">{{ subscription.noOfClients }}</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-user-lock fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Client Login</p>
                                    <p class="fw-semi-bold">{{ subscription.noOfClientsLogin }}</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-cubes fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Features</p>
                                    <ul class="ps-3 mt-1 fw-semi-bold mb-1">
                                    {% if subscription.taskManager == 1 %}<li>Task Manager</li>{% endif %}
                                    {% if subscription.fileManager == 1 %}<li>File Manager</li>{% endif %}
                                    {% if subscription.eCommerce == 1 %}<li>E-Commerce</li>{% endif %}
                                    {% if subscription.templateCustomization == 1 %}<li>Tamplate - Customization for import</li>{% endif %}
                                    {% if subscription.liveReportClientMobileApp == 1 %}<li>Live reports on client mobile app</li>{% endif %}
                                    {% if subscription.clientLoginApp == 1 %}<li>Client Login Mobile App</li>{% endif %}

                                    </ul>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-database fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Storage</p>
                                    <p class="fw-semi-bold">{{ subscription.storageSize }} GB</p>
                                </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="d-flex">
                                <div class="flex-shrink-0">
                                    <i class="fas fa-users fs-1"></i>
                                </div>
                                <div class="flex-grow-1 ms-2">
                                    <p class="mb-0 fs--1">Subscribers</p>
                                    <p class="fw-semi-bold">68</p>
                                </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}        
                {% else %}
                    <div class="card card-body mt-2 shadow-none bg-100 border mb-3">
                        <h5>No Subscriptions Available!</h5>
                    </div>
                {% endif %}
                             
              </div>

              <div class="tab-pane fade" id="tab_2" role="tabpanel">
                <div class="d-flex w-100 mb-3">
                  <div class="ms-auto">
                    <button onclick="window.location.href='addOns-plans.html'" type="button" class="btn btn-primary">Create New AddOns</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="client_collapse_list">
                      <a class="text-decoration-none fw-semi-bold cli_coll_link" data-bs-toggle="collapse" href="#coll_1" role="button">Employee AddOns <i class="fa fa-chevron-right ms-auto cli_coll_arrow"></i></a>
                      <!-- <h5 class="mb-0 fw-bold">Employee AddOns</h5> -->
                      <div class="collapse show" id="coll_1">
                        <div class="card card-body mt-2 shadow-none bg-100 border mb-3">
                          <div>
                            <div class="d-flex w-100">
                              <div class="me-auto">
                                <div class="d-flex">
                                  <div class="flex-shrink-0">
                                    <span class="cli_no bg-primary text-white fw-bold">1</span>
                                  </div>
                                  <div class="flex-grow-1 ms-2">
                                    <h5 class="mb-0">5 Employees</h5>
                                  </div>
                                </div>
                              </div>
                              <div class="ms-auto">
                                <div class="d-flex align-items-center">
                                  <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" id="fe_chk_11" type="checkbox" checked />
                                    <label class="form-check-label mb-0" for="fe_chk_11">Active</label>
                                  </div>
                                  <span class="mx-2 text-400">|</span>
                                  <a href="#"><i class="fas fa-pencil-alt"></i> Edit</a>
                                  <a class="fs--1 ms-1" href="#">(History)</a>
                                </div>
                              </div>
                            </div>
                            <div class="ms-4 mt-3">
                              <div class="row row-cols-1 row-cols-sm-4 row-col-md-4">
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-money-bill-alt fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Price</p>
                                      <p class="fw-semi-bold">Rs. 150</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-clock fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Time Period</p>
                                      <p class="fw-semi-bold">30 Days</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-users fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Subscribers</p>
                                      <p class="fw-semi-bold">68</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>

                          <div>
                            <div class="d-flex w-100">
                              <div class="me-auto">
                                <div class="d-flex">
                                  <div class="flex-shrink-0">
                                    <span class="cli_no bg-primary text-white fw-bold">2</span>
                                  </div>
                                  <div class="flex-grow-1 ms-2">
                                    <h5 class="mb-0">10 Employees</h5>
                                  </div>
                                </div>
                              </div>
                              <div class="ms-auto">
                                <div class="d-flex align-items-center">
                                  <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" id="fe_chk_12" type="checkbox" />
                                    <label class="form-check-label mb-0" for="fe_chk_12">Active</label>
                                  </div>
                                  <span class="mx-2 text-400">|</span>
                                  <a href="#"><i class="fas fa-pencil-alt"></i> Edit</a>
                                  <a class="fs--1 ms-1" href="#">(History)</a>
                                </div>
                              </div>
                            </div>
                            <div class="ms-4 mt-3">
                              <div class="row row-cols-1 row-cols-sm-4 row-col-md-4">
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-money-bill-alt fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Price</p>
                                      <p class="fw-semi-bold">Rs. 150</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-clock fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Time Period</p>
                                      <p class="fw-semi-bold">30 Days</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-users fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Subscribers</p>
                                      <p class="fw-semi-bold">68</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <hr>
                      <a class="collapsed text-decoration-none fw-semi-bold cli_coll_link" data-bs-toggle="collapse" href="#coll_2" role="button">Cient Login AddOns <i class="fa fa-chevron-right ms-auto cli_coll_arrow"></i></a>
                      <!-- <h5 class="mb-0 fw-bold">Cient Login AddOns</h5> -->
                      <div class="collapse" id="coll_2">
                        <div class="card card-body mt-2 shadow-none bg-100 border mb-3">
                          <div>
                            <div class="d-flex w-100">
                              <div class="me-auto">
                                <div class="d-flex">
                                  <div class="flex-shrink-0">
                                    <span class="cli_no bg-primary text-white fw-bold">1</span>
                                  </div>
                                  <div class="flex-grow-1 ms-2">
                                    <h5 class="mb-0">5 Client Logins</h5>
                                  </div>
                                </div>
                              </div>
                              <div class="ms-auto">
                                <div class="d-flex align-items-center">
                                  <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" id="fe_chk_13" type="checkbox" checked />
                                    <label class="form-check-label mb-0" for="fe_chk_13">Active</label>
                                  </div>
                                  <span class="mx-2 text-400">|</span>
                                  <a href="#"><i class="fas fa-pencil-alt"></i> Edit</a>
                                  <a class="fs--1 ms-1" href="#">(History)</a>
                                </div>
                              </div>
                            </div>
                            <div class="ms-4 mt-3">
                              <div class="row row-cols-1 row-cols-sm-4 row-col-md-4">
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-money-bill-alt fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Price</p>
                                      <p class="fw-semi-bold">Rs. 150</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-clock fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Time Period</p>
                                      <p class="fw-semi-bold">30 Days</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-users fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Subscribers</p>
                                      <p class="fw-semi-bold">30</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr>

                          <div>
                            <div class="d-flex w-100">
                              <div class="me-auto">
                                <div class="d-flex">
                                  <div class="flex-shrink-0">
                                    <span class="cli_no bg-primary text-white fw-bold">2</span>
                                  </div>
                                  <div class="flex-grow-1 ms-2">
                                    <h5 class="mb-0">10 Client Logins</h5>
                                  </div>
                                </div>
                              </div>
                              <div class="ms-auto">
                                <div class="d-flex align-items-center">
                                  <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" id="fe_chk_14" type="checkbox" />
                                    <label class="form-check-label mb-0" for="fe_chk_15">Active</label>
                                  </div>
                                  <span class="mx-2 text-400">|</span>
                                  <a href="#"><i class="fas fa-pencil-alt"></i> Edit</a>
                                  <a class="fs--1 ms-1" href="#">(History)</a>
                                </div>
                              </div>
                            </div>
                            <div class="ms-4 mt-3">
                              <div class="row row-cols-1 row-cols-sm-4 row-col-md-4">
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-money-bill-alt fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Price</p>
                                      <p class="fw-semi-bold">Rs. 275</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-clock fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Time Period</p>
                                      <p class="fw-semi-bold">30 Days</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col">
                                  <div class="d-flex">
                                    <div class="flex-shrink-0">
                                      <i class="fas fa-users fs-1"></i>
                                    </div>
                                    <div class="flex-grow-1 ms-2">
                                      <p class="mb-0 fs--1">Subscribers</p>
                                      <p class="fw-semi-bold">48</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              </div>

            </div>

          </div>
        </div>
{% endblock %}
